<header class="flex-container">
  <div class="row">
    <div class="col-lg-4">
      <h1>Overview</h1>
    </div>
    <div class="col-lg-6">
      <input type="text" class="w-100" placeholder=" Search anything here..">
    </div>
    <div class="col-lg-2">
      <div class="row float-right">
        <button class="icon-box ">
          <div class="circle1">2</div>
          <i class="fa-regular fa-envelope"></i>
        </button>
        <button class="icon-box">
          <div class="circle2">2</div>
          <i class="fa-regular fa-bell"></i>
        </button>
      </div>
    </div>
  </div>
</header>