<section class="flex-container">
  <div class="row">
    <div class="col-lg-9">
      <h2>My Cards: 1<span>/2</span></h2>
    </div>
    <div class="col-lg-3 text-align-right">
      <button class="icon-box" ><i class="fa-solid fa-chevron-up fa-left"></i></button>
      <button class="icon-box" ><i class="fa-solid fa-chevron-up fa-right"></i></button>
    </div>
  </div>
  <div>
    <img class="margin-top" src="../../assets/image/card.png"/>
    <div class="image-shadow"></div>
      <button class="new-card margin-top"><i class="fa-solid fa-plus fa"></i>  Add New Card</button>
      
  </div>
  <hr class="margin-top margin-bottom">
  <div>
    <h2>Quick Actions</h2>
    <div class="margin-top quick-action-body">
      <div class="row">
        <div class="col-lg-4 border-right">
          <div class="row text-center">
            <div class="col-lg-12">
              <button class="quick-action-icons"><i class="quick-icon fa-regular fa-square-plus"></i></button>
            </div>
            <label class="col-lg-12">
              Top Up
            </label>
          </div>         
        </div>
        <div class="col-lg-4 border-right">
          <div class="row text-center">
            <div class="col-lg-12">
              <button class="quick-action-icons"><i class="quick-icon fa-regular fa-paper-plane"></i></button>
            </div>
            <label class="col-lg-12">
              Transfer
            </label>
          </div> 
        </div>
        <div class="col-lg-4">
          <div class="row text-center">
            <div class="col-lg-12">
              <button class="quick-action-icons"><i class="quick-icon fa-solid fa-money-bill-transfer"></i></button>
            </div>
            <label class="col-lg-12">
              Withdrawal
            </label>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <hr class="margin-top margin-bottom">
  <div class="row">
    <div class="col-lg-10">
      <h2>Saving Plan</h2>
    </div>
    <div class="col-lg-2 text-align-right">
      <button class="fa remove-border" ><i class="fa-solid fa-plus"></i></button>
    </div>
  </div>
  <div class="margin-top quick-action-body">
    <div class="row">
      <div class="col-lg-3">
        <div class="saving-plan-icon-box">
          <i class=" fa-saving fa-solid fa-gamepad"></i>
        </div>
      </div>
      <div class="col-lg-8">
        <h4>Play Station 5</h4>
        <span>Target $2,000</span>
      </div>
      <div class="col-lg-1">
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <div class="row margin-top" >
      <h5 class="col-lg-10">
        Total: $1,000
      </h5>
      <span class="col-lg-2 text-align-right">
       50%
      </span>
    </div>
    <div class="progress-bar-full">
      <div class="progress-bar-half"></div>
    </div>
    
  </div>
  <div class="margin-top quick-action-body">
    <div class="row">
      <div class="col-lg-3">
        <div class="saving-plan-icon-box ">
          <i class="fa-saving fa-solid fa-tv"></i>
        </div>
      </div>
      <div class="col-lg-8">
        <h4>Television</h4>
        <span>Target $2,000</span>
      </div>
      <div class="col-lg-1">
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <div class="row margin-top" >
      <h5 class="col-lg-10">
        Total: $1,000
      </h5>
      <span class="col-lg-2 text-align-right">
       50%
      </span>
    </div>
    <div class="progress-bar-full">
      <div class="progress-bar-half"></div>
    </div>
    
  </div>
</section>
