

<section class="flex-container">
  <div class="row">
    <div class="col-lg-2">
     <app-sidenav></app-sidenav>
    </div>
    <div class="col-lg-10 ">
      <div class="right-layout">
        <app-header></app-header>
      </div>
      
      <div class="row">
        <div class="col-lg-4">
         <app-card></app-card>
        </div>
        <div class="col-lg-8">
          <app-total-balance></app-total-balance>
          <app-money-statistics></app-money-statistics>
          <app-transaction-history></app-transaction-history>
        </div>
       </div>
    </div>
   
    </div>
   
  </section>
