.flex-container{
    background: #fff;
  padding: 23px;
  border-radius: 2rem;
  margin-top: 1rem;
  }

  h2 {
    margin-top: 9px;
    margin-bottom: 9px;
  }

table{
    width: 100%;
}
th{
    text-align: left;
    border-bottom: 1px solid #ccc; 
    font-size: 12px;
}
td{
  border-bottom: 1px solid #ccc;  
  padding:5px;
  font-size: 14px;
}

.tableFixHead {
  height: 16.4rem;
}
  
  .tableFixHead thead th {
    position: sticky;
  top: 0;
  background: #eee;
  padding: 11px;
  }

  .fa-user{
    background: #eee;
  padding: 7px;
  border-radius: 50%;
  margin-right: 7px;

  }

  .status{
    width:100%;
    padding: 7px;
    border-radius: 7px;
  }
  .text-bold{
font-weight: bold;
  }
.text-center{
    
  text-align: center;
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

input[type=search] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 13px;
  border: 2px solid #f3f4f6;
  background: #fff;
  background-image: url('../../assets/image/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

button {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  color: #253382;
  font-size: 13px;
  border: 2px solid #f3f4f6;
  background: #fff;
  padding: 12px 20px 12px 20px;
}
